@model Category

<h1>CreateCategory</h1>

<form method="post">
	<div>
		<div>
			<label asp-for="Name">Category name</label>
			<input asp-for="Name" type="text" />
		</div>
		<div>
			<label asp-for="DisplayOrder">Display order</label>
			<input asp-for="DisplayOrder" type="text" />
		</div>
		<button type="submit">Create</button>
		<a asp-controller="Category" asp-action="Index"> Back to list</a>
	</div>
</form>
